%html
  %head
    %meta{ :charset => "utf-8" }
    %link{ :rel => "stylesheet", :href => "style.css", :media => "screen, projection", :type => "text/css" }
    %title SCSS while practicing

  %body

    .signal-container
      .signals
        %span.signal-1
        %span.signal-2
        %span.signal-3
        %span.signal-4
        %span.signal-5
        %span.signal-6
        %span.signal-7
        %span.signal-8
